@model Registration_Login.Models.LoginSignupModel;
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="cantainer">
    <div class="row">
        <div class="col-6 offset-3  border  border-3  rounded-3 pl-5 pr-5 pb-5 pt-5 ">
            <div class="text-center">
                <h1 class="text-info">Registration Form</h1>
            </div>

            <form method="post" asp-action="SignUp" >
                <div class="form-group">
                    <label asp-for="UserName" >UserName</label>
                    <input type="text" asp-for="UserName" class="form-control" placeholder="Enter user Name" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="text" asp-for="Email" class="form-control" placeholder="Enter user Email" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber">PhoneNumber</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter user PhoneNumber" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter user Password" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter user ConfirmPassword" autocomplete="off" />
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg mb-1 mt-2 float-right" class="float-right" value="Registration" />
                </div>

            </form>
        </div> 

    </div>

</div>

